/* General body */

.background{
    background-color:#e9eaed;
}

.task-drop{
  margin-left:8em;
  background-color:#cd4436;
  font-weight:300;
  color:#fff;
}

.task-space{
  margin-bottom:5em;
}

a:hover{
  text-decoration:none;
  color:inherit;
}

.task-head{ 
  font-weight:200;
}

.profile-banner{
  margin-bottom:-5em;
  position:relative;
}

.link-decor{
  text-decoration:none;
  color:inherit;
}

.nav-link{
  font-weight:200;
  background-color:#84a7ce;
}

.list{
  list-style-type:none;
  font-size:1.25em;
  letter-spacing:2px;
  font-weight:400;
  }

.badge-list{
  list-style-type:none;
}

.title{
  font-size:1.6em;
  letter-spacing:3px;
  padding:.3em;
}

.profile-pic{
  height:8em;
  width:8em;
  float:left;
  border-radius:5%;
  margin-bottom:1em;
  }

#about{
  background-color:#36669d;
  color:#fff;
  width:64.4%;
  float:left;
}

.info{
    font-size:1em;
    color:black;
    width:65%;
    padding-left:.5em;
    background-color:white;
    padding:.3em;
    float:left;
    margin-bottom:1em;
}

#badges{
  float:right;
  background-color:#123966;
  color:#fff;
  font-size:1em;
  padding:.5em;
  width:30%;
  margin-bottom:1em;
  letter-spacing:2px;
  clear:right;
}

.badges{
    margin-top:-2.3em;
    background-color:white;
    width:30%;
    float:right;
    padding:.5em;
    clear:right;
}

#other-links{
  margin-bottom:1em;
  float:right;
  clear:right;
  background-color:#123966;
  padding:.5em;
  width:30%;
  letter-spacing:2px;
  color:#fff;
}

.other-links{
  float:right;
  clear:right;
  background-color:white;
  padding:.5em;
  width:30%;
  }

#projects{
  background-color:#36679d;
  clear:both;
  color:#fff;
  }

.projects{
  align:center;
  padding-bottom:2em;
  }

#feedback{
  clear:both;
  background-color:#2e9f7d;
}

.feedback{
  padding-bottom:2em;
  letter-spacing:1px;
  }


  /* Button styles */
/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
  margin: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: #36679d;
  background: #fff;
}

.btn-submit:hover,
.btn-submit:active{
  color: #2e9f7d;
}






/*
root { 
    display: block;
}

body{
    font-family: 'Droid Sans', sans-serif;
    width:100%;
    height:100%;
    display:block;
    background-color:#C7C7C7;
  color:black;
}

h2{
  color:black;
  border-top: 1px solid #FFFFFF;
  padding-top:25px;
}*/
/*
#top_bar {
    width:80%;
    clear:both;
    margin:auto; 
    display:block;
}

#logo{
    width:70%;
    height:250px;
    margin:auto;
    
}

#logo img{
    width:100%;
    height:100%;
    float:left;
}
*/

/*#projects{
    margin-left: 25%;
    margin-top:25px;
    margin:auto;
    width:70%;
  font-family: Verdana;
    
}

#projects a{
  font-size: 14px;
  color: #7bac2e;

}
/*
.profile_container{
  height:150px;
  width:100%;
  float:left;
  border: 1px solid #DAD0D0;
  display:block;
  border-right-style:hidden;
  border-left-style:hidden;
}*/
/*
.headshot_frame{
  float:left;
  width:100px;
  height:130px;
  text-align:center;
}

.headshot_frame img{
  float:left;
  width:100%;
  height:100px;
  border-radius: 20px;
  margin-top: 15px;
}*/
/*
.profile_text{
  display:block;
  padding-left:125px;
  font-size:11pt;
  color:#black;
  margin-top:15px;
}*//*

#menu_bar{
  margin: 0 auto;
  /*padding-left:25px;*//*
  float:center;
  width: 100%;
  height: 30px;
}
.menu {
  height: 25px;
  width:640px;
  margin: auto;
  /*margin-top: 115px;*//*

  }
  
.menu ul {
  list-style:none;
  }
  
.menu li {
  font-size:20px;
  float:left;
  margin-left:8%;
  }
  
.menu a, .menu a:active, .menu a:visited {
  text-decoration:none; 
  color:#D6D2C9;
  padding:5px
  }

#group_picture{
  text-align:center;
}

#about_us{
  width:70%;
  margin:auto;
}

/*#feedbacks{
  clear:both;
  width:70%;
  margin:auto;
}*//*
#contact{
  clear:both;
  width:70%;
  margin:auto;
}

#contact a{
  font-size:19px;
  color: black;
}
 
#feedbacks{
  margin: auto;
}

#feedbacks_area{
  width:200%;
  height:400%;
  background-color:
  #D0F18F;
  color:#53760D;
  font:24px/30px 
  cursive;
}

#feedbacks_area div{
  alignment-adjust:auto;
}
form {
    width: 200px;
  float: center;
}*/

/*
#top-link{ 
  display:none;
  position:fixed;
    right:5px;
    bottom:5px;
    color:black;
    font-weight:bold; 
  text-decoration:none;
    border:1px solid: white; 
  background:white; 
  padding:10px; 
}
*//*
#contact_footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  border-top: 1px solid black;
  background-color: white;
  text-indent: 10px;
  overflow: hidden;
}

a:hover {
  color: black ;
}
a {
  color: black;
}*/
