root { 
    display: block;
}
body{
    font-family: 'Droid Sans', sans-serif;
    width:100%;
    height:100%;
    display:block;
    background-color:#C7C7C7;
	color:black;
}

h2{
  color:black;
  border-top: 1px solid #FFFFFF;
  padding-top:25px;
}

#top_bar {
    width:80%;
    clear:both;
    margin:auto; 
    display:block;
}

#logo{
    width:70%;
    height:250px;
    margin:auto;
    
}

#logo img{
    width:100%;
    height:100%;
    float:left;
}


#projects{
    margin-left: 25%;
    margin-top:25px;
    margin:auto;
    width:70%;
	font-family: Verdana;
    
}

#projects a{
	font-size: 14px;
	color: #7bac2e;

}
.profile_container{
  height:150px;
	width:100%;
	float:left;
	border: 1px solid #DAD0D0;
	display:block;
  border-right-style:hidden;
  border-left-style:hidden;
}

.headshot_frame{
	float:left;
	width:100px;
	height:130px;
	text-align:center;
}

.headshot_frame img{
	float:left;
	width:100%;
	height:100px;
	border-radius: 20px;
  margin-top: 15px;
}

.profile_text{
	display:block;
	padding-left:125px;
  font-size:11pt;
  color:#black;
  margin-top:15px;
}

#menu_bar{
	margin: 0 auto;
  /*padding-left:25px;*/
  float:center;
	width: 100%;
	height: 30px;
}
.menu {
	height: 25px;
	width:640px;
	margin: auto;
	/*margin-top: 115px;*/

	}
	
.menu ul {
	list-style:none;
	}
	
.menu li {
  font-size:20px;
	float:left;
	margin-left:8%;
	}
	
.menu a, .menu a:active, .menu a:visited {
	text-decoration:none; 
  color:#D6D2C9;
	padding:5px
	}

#group_picture{
	text-align:center;
}

#about_us{
	width:70%;
	margin:auto;
}

#feedbacks{
	clear:both;
	width:70%;
	margin:auto;
}
#contact{
	clear:both;
	width:70%;
	margin:auto;
}

#contact a{
	font-size:19px;
	color: black;
}
 
#feedbacks{
	margin: auto;
}

#feedbacks_area{
	width:200%;
	height:400%;
	background-color:
	#D0F18F;
	color:#53760D;
	font:24px/30px 
	cursive;
}

#feedbacks_area div{
	alignment-adjust:auto;
}
form {
    width: 200px;
	float: center;
}


#top-link{ 
	display:none;
	position:fixed;
    right:5px;
    bottom:5px;
    color:black;
    font-weight:bold; 
	text-decoration:none;
    border:1px solid: white; 
	background:white; 
	padding:10px; 
}

#contact_footer{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	border-top: 1px solid black;
	background-color: #606060;
	text-indent: 10px;
	/*clear:both;
	width:70%;
	margin:auto;
	display:none;
	position:fixed;
	right:5px;
	bottom:5px; 
	color:black; 
	font-weight:bold; 
	text-decoration:none;
	border:1px solid: white; 
	background:white; 
	padding:10px;*/
}

a:hover {
  color: white ;
}
a {
	color:white;
}