{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile: {{ person.full_name }}{% endblock %}

{% block content %}
<h1>{{ person.full_name }}</h1>
{% if user.is_authenticated and user.id == person.id %}
<div class="span5 well">
    <h2>Tasks</h2>
    {% for task in person.tasks_assigned.all %}
    <p>{{ task.project.name }}: {{ task.description }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="span5 well">
<h2>Bio:</h2>
<p>{{ person.bio }}</p>
</div>
<div class="span2 well">
<h2>Projects:</h2>
</div>
{% for role in person.roles.all %}
<div class="span4 well">
  <h3><a href="{% url 'project_detail' role.project.id %}">{{ role.project.name }}</a></h3> as <b>{{ role.role_name }}</b>
  {% if role.project.owner.id == person.id %}
  and <b>project owner</b>
  {% endif %}
</div>
{% endfor %}

<div class='span4 well'><h3><a href='/projects/create/'>Create Project!</a></h3></div>

{% block feedback_summary %}
{% endblock %}

{% endblock %}
