{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profiles{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/profile.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="js/jquery-2.0.3.js"></script>
{% endblock %}

{% block content %}
  <div id="top_bar">
    <div id="logo">
      <img src="{% static 'profiles/img/kalitebanner.png' %}" alt="none" />
    </div>
  </div>

  <div id="home_page">
    <div id = "group_picture">
      <img src = "{% static 'profiles/img/group.jpg' %}" alt="group"/>
    </div>

    <div id = "about_us">
      <h2>about us - KA Lite</h2>
      <p>KA Lite is an offline version of Khan Academy that runs on almost anything. What we do:
	<ul>
	  <li>Bringing the online education revolution to rural communities.</li>
	  <li>Synchronize and manage your organization's deployments centrally.</li>
	  <li>Quick installation, minimal system requirements, and simple to use.</li>
	  <li>Students can earn points, teacher can view coach reports.</li>
	  <li>Choose which videos to download, and languages for subtitles.</li>
	</ul>
      </p>
    </div>
  </div>
  <div id = "separator"></div>

  <script type="text/javascript">
    function AlertIt() {
    var answer = confirm ("Need to implement, but the user should be logged in. If he/she is, then they can view profiles--capable of adding projects and submitting any feedback")
    if (answer)
    window.location="profile.html";
    }
  </script>

  <div id="team_content">
    <h2>the TEAM</h2>
    {% for person in persons %}
    <div class="profile_container">
      <div class="headshot_frame">
	<img src="{% static img %}" alt="member" /> <!-- TODO: fix when profile images are working now -->
	<a href="{% url 'profile_detail' person.id %}">{{ person.full_name }}</a>
      </div>
      <div class="profile_text">
	He loves candy!
      </div>
    </div>
    {% endfor %}

  <div id = "login">
    <h2>login</h2>
    <h3>Log into your account to manage your current projects and create feedback for other FLE contributors!</h3>
    <form>
      Email login: <input type="text" placeholder="Enter your  login" name="firstname"><br>
      Password: <input type="text" placeholder="---------------" name="lastname">
    </form>

  </div>

  <div id = "contact">
    <h2>communication CHANNELS</h2>
    <p>info@learningequality.org</p>
    <a href = "http://chat.learningequality.org:3000/">Chat with the team!</a>
    <br/>

    <a href = "http://kalite.learningequality.org/">Come to the offical site!</a>
    <br/>
    <a href = "https://drive.google.com/?tab=mo&amp;authuser=0#folders/0B1eobeaicL7IcnMzMktXM3RzajQ">Our Google Drive Shared Folder!</a>

  </div>

  <a href="#top_bar" id="top-link">Top of Page</a>
  <script>

    $(document).ready(function(){
    $(window).scroll(function(){
    if ($(this).scrollTop() > 100) {
    $('#top-link').fadeIn();
    } else {
    $('#top-link').fadeOut();
    }
    });
    // scroll-to-top animate
    $('#top-link').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
    });
    });

  </script>
{% endblock %}
