{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile: {{ person.full_name }}{% endblock %}


{% block content %}
<h1>{{ person.full_name }}</h1>
{% if user.is_authenticated and user.id == person.id %}
<div class="span5 well">
    <h2>Tasks</h2>
    {% for task in person.tasks_assigned.all %}
    <p>{{ task.project.name }}: {{ task.description }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="span5 well">
<h2>Bio:</h2>
<p>{{ person.bio }}</p>
</div>
<div class="span2 well">
<h2>Projects:</h2>
</div>
{% for role in person.roles.all %}
<div class="span4 well">
  <h3><a href="{% url 'project_detail' role.project.id %}">{{ role.project.name }}</a></h3> as <b>{{ role.role_name }}</b>
  {% if role.project.owner.id == person.id %}
  and <b>project owner</b>
  {% endif %}
</div>
{% endfor %}

<div class='span4 well'><h3><a href='/projects/create/'>Create Project!</a></h3></div>
<div class='span4 well'>
  <h3>Feedback Summary:</h3><br/>
  {% if avg %}
  <em>Average stars</em><br/>
  Overall: {{ avg.overall_rating__avg }} <br/>
  Participation: {{ avg.participation_rating__avg }}<br/>
  Contribution: {{ avg.contribution_rating__avg }}<br/>
  Communication: {{ avg.communication_rating__avg }} <br/>
  Ease of working together: {{ avg.ease_of_working_together_rating__avg }} <br/>

  {% else %}

  {{person.first_name}} doesn't have any feedbacks yet! <br/>
  Help them out:<br/>
  {% endif %}
  <br/>
  <a href='/feedbacks/create/'>Submit feedback</a>
</div>
{% endblock %}
