root { 
    display: block;
}
body{
    font-family: 'Droid Sans', sans-serif;
    width:100%;
    height:100%;
    display:block;
    background-color:#0a4a69;
	color:#D6D2C9;
}

h2{
  color:#7bac2e;
  border-top: 1px solid #FFFFFF;
  padding-top:25px;
}

#top_bar {
    width:80%;
    clear:both;
    margin:auto; 
    display:block;
}

#logo{
    width:70%;
    height:250px;
    margin:auto;
    
}

#logo img{
    width:100%;
    height:100%;
    float:left;
}


#team_content{
    margin-left: 25%;
    margin-top:25px;
    margin:auto;
    width:70%;
	font-family: Verdana;
    
}

#team_content a{
	font-size: 14px;
	color: #7bac2e;

}
.profile_container{
  height:150px;
	width:100%;
	float:left;
	border: 1px solid #DAD0D0;
	display:block;
  border-right-style:hidden;
  border-left-style:hidden;
}

.headshot_frame{
	float:left;
	width:100px;
	height:130px;
	text-align:center;
}

.headshot_frame img{
	float:left;
	width:100%;
	height:100px;
	border-radius: 20px;
  margin-top: 15px;
}

.profile_text{
	display:block;
	padding-left:125px;
  font-size:11pt;
  color:#D6D2C9;
  margin-top:15px;
}

#menu_bar{
	margin: 0 auto;
  /*padding-left:25px;*/
  float:center;
	width: 100%;
	height: 30px;
}
.menu {
	height: 25px;
	width:640px;
	margin: auto;
	/*margin-top: 115px;*/

	}
	
.menu ul {
	list-style:none;
	}
	
.menu li {
  font-size:20px;
	float:left;
	margin-left:8%;
	}
	
.menu a, .menu a:active, .menu a:visited {
	text-decoration:none; 
  color:#D6D2C9;
	padding:5px
	}

#group_picture{
	text-align:center;
}

#about_us{
	width:70%;
	margin:auto;
}

#login{
	clear:both;
	width:70%;
	margin:auto;
}
#contact{
	clear:both;
	width:70%;
	margin:auto;
}

#contact ul{
	display: inline;
	list-style: None;
	list-style-type: None;
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;
}
#contact li{
	display: inline;
	list-style: None;
	list-style-type: None;
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;
}

#contact a{
	font-size:19px;
	color: white;
}
 
#login{
	margin: auto;
}
form {
    width: 200px;
	float: center;
}

#top-link{ 
	display:none;
	position:fixed;
       	right:5px;
       	bottom:5px;
       	color:black;
       	font-weight:bold; 
	text-decoration:none;
       	border:1px solid: white; 
	background:white; 
	padding:10px; 
}
