{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}| {{ person.full_name }}{% endblock %}

{% block head %}<link type='text/css' rel='stylesheet' href="{% static 'profiles/profile.css' %}" media='screen'/>{% endblock %}

{% block content %}
<body class='background'>
<div class="bs-docs-example">
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Projects</a></li>
                <li><a href="#lB" data-toggle="tab">Badges</a></li>
                <li><a href="#lC" data-toggle="tab">Feeedback</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
                  <p>Even more da project</p>
                </div>
                <div class="tab-pane" id="lB">
                  <p>Badges badges badges badges mUSHROOM MUSHROOM</p>
                </div>
                <div class="tab-pane" id="lC">
                  <p>Feeeed meeeee</p>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
</div>
  
    <div class='profile-banner' align=center>
      {% for badge in person.badge.all %}
      	{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
          <img src="{% static badge.badge_image  %}" alt="My image" height="250" width="250" /> &nbsp;
      	{% endif %}
      {% endfor %}
      
    </div>

    <img src='{{ person.profile_img }}' class='profile-pic'>

    <br/><br/><br/>
    <h1>&nbsp;{{ person.full_name }}</h1>
  	<br/>

  	<div id='about' class='title'>
          About
	    </div>
	    <div class='info'>
	        <p>{{ person.bio }}</p>
	        
	        <p><b>Contact:</b></p><br/>
	        {{ person.contact }}
	        
	        <p><b>{{ person.github }}</b></p>
	        
	        <p><b>Skills:</b></p>
	        {{ person.skills }}
	    </div>
  
	    <div class='badges'>
          {% for badge in person.badge.all %}
          <img src="{% static badge.badge_image  %}" alt="My image" height="50" width="50" />
          {% endfor %}
	    </div>
      <div id='badges'>
          Badges
      </div>
      
      <div class='other-links'>
          Tumblr<br/>
          Wordpress<br/>
          Website<br/>
      </div>
      <div id='other-links'>
          Other Links
      </div>
      
      <div id='projects'>
        <p class='title'>Projects</p>
        <br/>
        {% for role in person.roles.all %}
        <ul class='projects list' align=center>
          <li><a href="{% url 'project_detail' role.project.id %}">{{ role.project.name }}</a> as <b>{{ role.role_name }}</b>
  			{% if role.project.owner.id == person.id %}
  			and <b>project owner</b></li>
  			{% endif %}
        </ul>
        {% endfor %}
        <p align=right>
        <a href="{% url 'project_create' %}"><button class="btn btn-1 btn-1a">Create Project</button></a>
        </p>
      </div>

      <div id='feedback'>
        <p class='title'>Feedback Summary</p>
        <br/>
        <div class='feedback' align=center>
        {% if avg %}
        <em>Average stars</em><br/>
  		Overall: {{ avg.overall_rating__avg }} <br/>
  		Participation: {{ avg.participation_rating__avg }}<br/>
  		Contribution: {{ avg.contribution_rating__avg }}<br/>
  		Communication: {{ avg.communication_rating__avg }} <br/>
  		Ease of working together: {{ avg.ease_of_working_together_rating__avg }} <br/>

  		{% else %}
  		{{person.first_name}} doesn't have any feedbacks yet.<br/>
  		Help them out by submitting any feedback!<br/>
  		{% endif %}
        </div>
          <p align=right>
        <a href="{% url 'feedback_create' user.id %}"><button class="btn btn-1 btn-1a btn-submit" >Submit Feedback</button></a>
        </p>
      </div>

      <br/><br/>
</body>
{% endblock %}