{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profiles{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/profile.css' %}" />
  <link href='http://fonts.googleapis.com/css?famliy=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div id="top_bar">
    <!--<div id="logo">-->
      <img src="{% static 'profiles/img/banner.png' %}" alt="none" />
    </div>
  <div id="home_page">

    <div id = "about_us">
      <h2>about us - KA Lite</h2>
      <p>KA Lite is an offline version of Khan Academy that runs on almost anything. What we do:
	<ul>
	  <li>Bringing the online education revolution to rural communities.</li>
	  <li>Synchronize and manage your organization's deployments centrally.</li>
	  <li>Quick installation, minimal system requirements, and simple to use.</li>
	  <li>Students can earn points, teacher can view coach reports.</li>
	  <li>Choose which videos to download, and languages for subtitles.</li>
	</ul>
      </p>
    </div>
  </div>
  <div id = "separator"></div>
    <h2>the TEAM</h2>
    {% for person in persons %}
    <div class="profile_container">
      <div class="headshot_frame">
	<img src="{{ person.avatar }}" alt="member" height="130" width="130"/> <!-- TODO: fix when profile images are working now -->
	<a style="color:black;" href="{% url 'profile_detail' person.id %}">{{ person.full_name }}</a>
      </div>
      <div class="profile_text">
	{{ person.bio }}
      </div>
    </div>
    {% endfor %}
{% endblock %}
