{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <title> KALite Internal {% block title %} Home page {% endblock %}</title>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="#">
	    KA Lite
	  </a>
	  <div class="nav-collapse">
	    <ul class="nav">
	      <li class="active">
		<a href="%{ url 'index' %}">
		  Home
		</a>
	      </li>
	      <li class="login">
		<a href="%{ url 'login' %}">
		  Login
		</a>
	      </li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <div id="menu">
    </div>
  </body>
</html>
