{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<style type="text/css">
	.form-horizontal
	.controls{
		margin-left: 0px
	}
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="login-form">
    <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}" >
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert">
	<a class="close" data-dismiss="alert">x</a>
	<p> Username and password did not match. </p>
      </div>
      {% endif %}
      <fieldset>
	  {{ form.username.label_tag }}
	  {{ form.username }}
	<div class="control-group">
	  {{ form.password.label_tag }}
	  {{ form.password }}
	</div>
	<div class="control-group">
	  <div class="controls">
	  	New user? Sign up <a href={%url 'signup' %}>here</a>
	    <button class="btn btn-success">Login</button>

	  </div>
	</div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
