body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}

#leftsidebar{
	float: right;
	width: 20%;
	display:block;
	margin-top: 200px;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: ;	
	padding-right: 15px;
	padding-left: 20px;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 80%;
	min-width: 780px;
	background-color: #FFF;
	float: left;
}

.header {
	background-color: #6F7D94;
	height:200px;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
	float: center;
}

.content {
	margin-right: auto;
	margin-left: auto;
}
.footer {
	padding: 10px 0;
	background-color: #6F7D94;
}

