{% extends 'base.html' %}
{%load staticfiles %}

{% block title %}| Create Project{% endblock %}

{% block head %}
<link style='text/css' rel='stylesheet' href='{% static 'projects/project.css' %}'/>
{% endblock %}

<style='text/css'>
</style>

{% block content %}

<body id='pad-top'>
  <div id='section'>

    <form action='/projects/create/' method='post'>{% csrf_token %}
    
	<h5>{{form.as_p}}</h5>
    
  </div>

<p Align=Center>
	<a href='/projects/'>Cancel</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type='submit' name='submit' value='Create Project'></p>
<br/>
<br/>
</form>

</body>

{% endblock%}
