{% extends 'base.html' %}
{%load staticfiles %}

{% block title %}| Create Project{% endblock %}

{% block head %}
<link style='text/css' rel='stylesheet' href='{% static 'projects/project.css' %}'/>
{% endblock %}

<style='text/css'>
</style>

{% block content %}

<body id='pad-top'>
  <div id='section'>
    Project title: <br/><br/>
    Description: <br/><br/>
    Deadline: <br/><br/>
    GitHub: <br/><br/>
    Leader(s): <br/><br/>
    Collaborators: <br/><br/>
    Start todo list: <br/><br/>
  </div>
</body>

{% endblock%}
