{% extends 'base.html' %}
{%load staticfiles %}

{% block title %}| Create Project{% endblock %}

{% block head %}
<link style='text/css' rel='stylesheet' href='{% static 'projects/project.css' %}'/>
{% endblock %}

<style='text/css'>
</style>

{% block content %}

<body id='pad-top'>
  <div id='section'>

    <form action="" method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Submit" />
    </form>
  </div>

<p Align=left>
	<a href='/projects/'>Back</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<br/>
<br/>
</form>

</body>

{% endblock%}
