{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}| Project Details {% endblock %}

{% block head %}
<link style='text/css' rel='stylesheet' href='{% static 'projects/project.css' %}'/>
<link type='text/css' rel='stylesheet' href="{% static 'profiles/profile.css' %}" media='screen'/>
<script src="http://code.jquery.com/jquery.js"></script>
{% endblock %}

{% block content %}
<body id='pad-top' style="background-color:#e9eaed;">
      <div id='about' class='title' style="background-color:#36669d;width:98.6%">
          Main Detail
      </div>
      <div id='projects' style="background-color:white; color:black;">
        <p class='title'>{{ project_title }}</p>
        <br/>
        <div>
        <ul class='projects list' align=center>
            <DL>
            <br/><a href="{% url 'project_edit' project.id%}" style="font-size: 15px; text-decoration: none">[Edit Project]</a><br/><br/>
            <DT>Description: </p>
            <dd style="font-size:0.8em">{{ project.description }}</dd>
            </dl>
            <a href='{{ project.github_repo_link }}'>Link to Github</a> <br/><br/>
            {% if not is_active %}Deadline: {{ project.deadline }}<br/><br/>
            {% else %}<em><b>Project completed</b></em><br/>
            {% endif %}
        </ul>
      </div>
    </div>
    </div>
    <div id='about' class='title' style="background-color:#36669d;width:98.6%">
          Involvement
      </div>
      <div id='feedback' style="background-color:white;">
        <br/>
        <div class='feedback' align=center>
        <b>Leader(s):</b> {{ project.owner }} <br/>
          <DL>
          <DT>Team members:</dt>
          {% for role in roles%}
          <h3 id="list">{{ role.profile}} - <i id="description">{{ role.role_name }}</i><h3>
          {% endfor %}
          </DL>
        </div>
      </div>
      <br/>

    <div id='about' class='title' style="background-color:#2e9f7d ;width:98.6%">
          Assign Individual Tasks
      </div>
      <div id='feedbackk' style="background-color: white;">
        <ul class='projects list' align=center>
            <br/>Tasks:
              <ul id="list">
              {% for task in todo %}
                <li style="margin-left:1em">{{ task.description }}</li>
              {% endfor %}
              </ul>
              <form method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Submit" class="btn btn-success btn-mini" style="color:white;background-color:#2e9f7d" />
            </form>
        </ul>
        <br/>
      </div>
    </div>
</body>
{% endblock %}
