{% extends "base.html" %}
{% load staticfiles %}

{% block title %}| Project Details {% endblock %}

{% block head %}
<link style='text/css' rel='stylesheet' href='{% static 'projects/project.css' %}'/>
{% endblock %}

{% block content %}
<body id='pad-top'>
<div id="section">
  <h1>{{ project_title }}</h1>
  <DL>
    <DT>Description:</p>
    <dd style="font-size:0.8em"> {{ details.description }}</dd>
  </dl>
  <a href='{{ details.website }}'>Github</a> <br/><br/>
  {% if not is_active %}Deadline: {{ details.deadline }}<br/><br/>
  {% else %}<em><b>Project completed</b></em><br/>
  {% endif %}
</div>

<div id="section">
  <!--include click through links on names to their profile-->
  <b>Leader(s):</b> {{ details.owner }} <br/>
  <DL>
    <DT>Team members:</dt>
	{% for member in details.collaborators %}
	  <dl id="list">{{ member}} <i id="description">{{ role.role_name }}</i></dl>
	{% endfor %}
  </DL>
</div>

<div id="section">
  Tasks:
  <ul id="list">
  {% for task in todo %}
	<li style="margin-left:1em">{{ task.description }}</li>
  {% endfor %}
  </ul>

  <!--strikethroughs for done tasks? mini deadline dates next to each task?-->
  
</div><br/><br/>
</body>
{% endblock %}
