{% extends 'profile.html' %}
{% load staticfiles %}

{% block head %}
<link rel='stylesheet' style='text/css' href='{% static 'feedbacks/feedback_summary.css' %}'/>
{% endblock %}

{% block content %}

  Feedback Summary:<br/><br/><br/>
<div>
  <em>Average stars</em><br/>
  Overall: {{ avg.avg_stars }} <br/>
  Participation: {{ avg.participation }}<br/>
  Contribution: {{ avg.contribution }}<br/>
  Communication: {{ avg.communication }} <br/>
  Ease of working together: {{ avg.avg_ease }} <br/>
</div>

{% endblock %}
