/* index_stylesheet for project details*/

<p>{
  size=em;
  color:#0a4a69;
}
#main{
  font-size: 1.5em;
  font-family:Verdana;
  background-color:#a1b92a;
  padding:30px
}

.login-form {
    position: fixed;
    top: 30%;
    left: 20%;
}

body {
    padding-top: 65px;
}

#contact_footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  border-top: 1px solid black;
  background-color: white;
  text-indent: 10px;
  clear: both;
}

#top-link{ 
  display:none;
  position:fixed;
    right:5px;
    bottom:5px;
    color:black;
    font-weight:bold; 
  text-decoration:none;
    border:1px solid: white; 
  background:white; 
  padding:10px; 
}

#contact_footer a{
  color: black;
}

#contact_footer a:hover {
  color: black ;
}
